.main {
    font-family: Arial, sans-serif;
    background-color: #3D087B;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
}